<!-- Este es el codigo del formulario que tenes que hacer TODO con javascript -->
<!-- Cualquier cosa que NO sea igual a este bloque, no aplicará el CSS que ya está armado -->
<!-- No man, los comentarios no los tenés que hacer con JS, son referencias que te dejo como data adicional -->

<div id="modal">
	<form method="post" action="#"><!-- El method y action son, en realidad, irrelevantes -->
		<div><a href="#">Cerrar</a></div>
		<h2>Concurso!!!</h2>
		<div><span>Tu nombre</span><input type="text" name="nombre" /></div>
		<div><span>Tu email</span><input  type="text" name="email" /></div>
		<div><span>Genero preferido (mínimo 4 generos)</span>
			 <div class="generos"><!-- Este div esta adentro del que encierra generos y debe tener el class .generos -->
				<label><input type="checkbox" name="genero_accion" value="accion" /> Accion</label>
				<label><input type="checkbox" name="genero_animacion" value="animacion" /> Animacion</label>
				<label><input type="checkbox" name="genero_anime" value="anime" /> Anime</label>
				<label><input type="checkbox" name="genero_marciales" value="marciales" /> Artes Marciales</label>
				<label><input type="checkbox" name="genero_aventura" value="aventura" /> Aventura</label>
				<label><input type="checkbox" name="genero_belico" value="belico" /> Bélico</label>
				<label><input type="checkbox" name="genero_biografico" value="biografico" /> Biográfico</label>
				<label><input type="checkbox" name="genero_catastrofe" value="catastrofe" /> Catástrofe</label>
				<label><input type="checkbox" name="genero_clase_b" value="clase_b" /> Clase-B</label>
				<label><input type="checkbox" name="genero_clase_z" value="clase_z" /> Clase-Z</label>
				<label><input type="checkbox" name="genero_comedia" value="comedia" /> Comedia</label>
				<label><input type="checkbox" name="genero_drama" value="drama" /> Drama</label>
				<label><input type="checkbox" name="genero_epico" value="epico" /> Épico</label>
				<label><input type="checkbox" name="genero_fantasia" value="fantasia" /> Fantasía</label>
				<label><input type="checkbox" name="genero_gore" value="gore" /> Gore</label>
				<label><input type="checkbox" name="genero_musical" value="musical" /> Musical</label>
				<label><input type="checkbox" name="genero_policial" value="policial" /> Policial</label>
				<label><input type="checkbox" name="genero_scifi" value="scifi" /> Sci-Fi</label>
				<label><input type="checkbox" name="genero_suspenso" value="suspenso" /> Suspenso</label>
				<label><input type="checkbox" name="genero_terror" value="terror" /> Terror</label>
				<label><input type="checkbox" name="genero_western" value="western" /> Western</label>
			 </div>
		</div>
		<!-- El boton debe estar disabled -->
		<div><input type="button" value="Participar" disabled="disabled" /></div>
	</form>
</div>
