<!-- este es el codigo que tenes que generar al hacer click en alguna película -->
<!-- Obviamente los datos a mostrar en cada lugar vienen de su respectivo object -->
<div id="modal">
	<div>
		<div><a href="#">Cerrar</a></div>
		<h2>TITULO_PELICULA</h2>
		<div><img src="TITULO_PELICULA" /></div>
		<p>ADENTRO DE ESTE PARRAFO VA LA INFO DE LA PELICULA CLICKEADA</p>
		<object data="URL_DEL_VIDEO" width="350" height="200"></object>
		<ul>
			<li>Titulo: TITULO_PELICULA</li>
			<li>Estreno: FECHA</li>
			<li>Genero: GENERO</li>
			<li>Clasificacion: CLASIFICACION</li>
		</ul>
	</div>
</div>