<div id="modal">
	<div>
		<div><a href="#">cerrar</a></div>
		<h2>Configurar la web</h2>
		
		<fieldset>
			<legend>Colores y fondos</legend>
			<div>
				<h3>Imagen de fondo</h3>
				<img src="fondos/collage.jpg" id="preview" />
				<label><input type="radio" name="fondo" value="marvel.jpg" /> marvel.jpg</label>
				<label><input type="radio" name="fondo" value="lego.jpg" /> lego.jpg</label>
				<label><input type="radio" name="fondo" value="terror.jpg" /> terror.jpg</label>
				<label><input type="radio" name="fondo" value="hobbit.jpg" /> hobbit.jpg</label>
				<label><input type="radio" name="fondo" value="collage.jpg" /> collage.jpg</label>
			</div><div>
				<h3>Background del header</h3>
				<select>
					<option>OPCIONES DEL ARRAY BACKGROUND</option>
				</select>
				
				<h3>Color del h1</h3>
				<select>
					<option>OPCIONES DEL ARRAY DE COLORES</option>
				</select>
				
			</div>
		</fieldset>
		<fieldset>
			<legend>Fuentes</legend>
			
			<div>
				<h3>Familia tipográfica</h3>
				<select>
					<option>OPCIONES DEL ARRAY DE FUENTES</option>
				</select>
			</div>
			<div>
				<h3>Tamaño tipográfico</h3>
				<span id="tamanio_actual">Tamaño actual: <mark>10px</mark></span>
				<a href="#" id="mas_grande">Mas grande</a>
				<a href="#" id="mas_chico">Mas chico</a>
			</div>
		</fieldset>
		<div><input type="button" value="aplicar cambios" /></div>
	</div>