@font-face {
    font-family: 'DVMDB';
    src: url('fonts/phoeniciaexpand-webfont.eot');
    src: 
		 url('fonts/phoeniciaexpand-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/phoeniciaexpand-webfont.woff2') format('woff2'),
         url('fonts/phoeniciaexpand-webfont.woff') format('woff'),
         url('fonts/phoeniciaexpand-webfont.ttf') format('truetype'),
         url('fonts/phoeniciaexpand-webfont.svg#phoenicia_expandedexpanded') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ margin: 0; padding: 0; font: 12px/19px Verdana;}
body *{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
header{ padding: 10px; background: #dbdbdb; border-bottom: 4px solid #999;}
header div{ width: 1150px; margin: 0 auto; position: relative; }
#ver_panel{ position: absolute; top: 0px; right: 10px; width: 60px; padding-top: 43px; padding-bottom: 5px; background: url(icons/panel.png) center top no-repeat; text-align: center; color: white;font-weight: bold; text-shadow: 1px 1px 2px black, -1px -1px 2px black; text-decoration: none; font-size: 15px; }

acronym{ border-bottom: none; }
h1{ font: bold 60px/60px DVMDB; margin: 0; }
h2{ font: bold italic 30px/30px 'Trebuchet Ms'; margin: 0 0 10px 0; }
h3{ font: bold 20px/20px 'Consolas'; margin: 0; }

/***************************************************
**************** ARTICULO AVENGERS *****************
/***************************************************/
body{ background-image: url(../fondos/collage.jpg); background-size: cover; }
main{ width: 1150px; padding: 25px 25px; margin: 0 auto; overflow: auto; background: rgba( 255,255,255, 0.88); }
section{ margin-bottom:  50px; }
#articulo_principal { overflow: auto; width: 700px; display: inline-block; }
#articulo_principal p{ padding-right: 40px; }
#articulo_principal a{ display: block; text-decoration: none; }
#articulo_principal div{ float: left; border: 1px solid #AAA; padding: 6px; margin-right: 12px; border-radius: 4px; }
#articulo_principal div img{ display: block; border-radius: 4px; }
#articulo_principal div span{ display: inline-block; margin-right: 8px;  }
#articulo_principal div *{ vertical-align:middle; }
#puntines{ margin: 5px 0; padding: 0; display: inline-block; }
#puntines li{ display: inline-block; margin: 0; padding: 0; width: 40px; height: 24px; background:url('icons/estrella_vacia.png') center center no-repeat; background-size: 24px 24px; text-indent: -100px; overflow: hidden; cursor: pointer; }

aside{ display: inline-block; width: 400px; vertical-align: top; }
aside img{ cursor: pointer; }



#proximos_estrenos article{ display: inline-block; vertical-align: top; width: 32%; position: relative;  overflow: hidden; line-height: 0; }
#proximos_estrenos article:nth-child( 3n + 2){ margin: 0 2%; }
#proximos_estrenos article img{ width: 100%; opacity: 0.85; transition: all 0.3s;  -moz-transition: all 0.3s}
#proximos_estrenos article div{ position: absolute; bottom: -100px; left: 0; cursor: pointer; width: 100%; background: rgba( 0,0,0,0.5); padding: 10px 20px; color: white; line-height: 1em;  transition: all 0.3s;  -moz-transition: all 0.3s; z-index: 4; }
#proximos_estrenos article:hover div{ bottom: 0; }
#proximos_estrenos article:hover img{ opacity: 1; }
#proximos_estrenos article div a{ color: yellow; font: 15px/15px Consolas; text-decoration: none; }



/***********************************************/
#modal{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba( 255,255,255,0.85); }
#modal form, #modal > div{ width: 1100px; margin: 20px auto; box-shadow: 0 0 5px black; padding: 9px 20px 20px 20px; background: white url(../fotos/peliculas_v.jpg) 850px 60px no-repeat; min-height: 470px; }
#modal form a, #modal > div a{ display: block; background: url(icons/close.png) right top no-repeat; margin-bottom: 15px; padding: 6px 40px; font-size: 20px; line-height: 20px; text-align: right; text-decoration: none; text-transform: uppercase; color: #AAA;}
#modal form a:hover, #modal > div a:hover{ background-position: right bottom; color: darkred;}
#modal form a{ padding: 7px 40px;}
#modal form h2, #modal > div h2{ margin-top: -36px; margin-bottom: 12px; width: 400px; }
#modal form div{ margin-bottom: 9px; }
#modal form div.generos{ display: inline-block; width: 600px; }
#modal form div.generos label{ width: 30%; display: inline-block; padding: 2px; margin-bottom: 3px; }
#modal form div *{ font-size: 15px; line-height: 18px; vertical-align: middle;}
#modal form div span{ display: inline-block; width: 190px; }
#modal form input[type=text]{ display: inline-block; width: 600px; padding: 3px 6px; border-radius: 3px; border: 1px solid #AAA; }
#modal form input[type=button], #modal div input[type=button]{ display: inline-block; padding: 5px 25px; border-radius: 3px; border: 1px solid #AAA; margin-left: 200px; color: darkgreen; background-image: url(icons/enabled.png); background-position: 5px center; background-repeat: no-repeat; }
#modal div input[type=button]{ margin-left: 0; }
#modal form input[type=button]:disabled{ color:darkred; background-image: url(icons/disabled.png); }
#modal div{ background-image: none; }

#modal img{ width: 100%; border-radius: 10px; }
#modal p{ width: 330px; display: inline-block; margin: 0; }
#modal object{ width: 350px; height: 200px; margin: 0 30px;  }
#modal ul{ width: 300px; display: inline-block; margin: 0; padding: 0;  list-style: none; }
#modal ul li{ margin: 0 0 5px 0; padding: 5px; border: 1px solid #dbdbdb; border-radius: 3px; }
#modal p, #modal object, #modal ul{ vertical-align: top; }
#respuesta_concurso:not(:empty){ font: italic 16px/25px Arial; color: darkgreen; background: #d5fcbb; padding: 4px; display: block; }

#modal #preview{ float: right; height: 100px; width: 250px; }
#modal h3{ margin-bottom: 7px; }
#modal fieldset label{ display: block;  }
#modal fieldset div{ width: 49%; display: inline-block; vertical-align: top; padding: 10px; }
#modal h3 ~ h3 { margin-top: 15px; } 
#modal fieldset select{ width: 90%; padding: 4px; }
#modal fieldset{ margin-bottom: 10px; }
#modal legend{ background: #ababab; padding: 4px 10px; }
#modal #tamanio_actual{ font-size: 16px; margin-right: 10px;}
#modal #tamanio_actual mark{ padding: 0 5px; }
#modal #mas_grande, #modal #mas_chico{ display: inline-block !important; font-size: 16px !important; background: url(icons/plus_minus.png) left top no-repeat !important; margin-right: 10px !important; padding: 0 0 0 20px !important; line-height: 16px; color: blue; opacity: 0.7;}
#modal #mas_grande:hover, #modal #mas_chico:hover{ opacity: 1; }
#modal #mas_chico{background-position: left bottom !important;}
#modal select option{ background: white; }
body p{ line-height: 1.5em }